* {
  font-family: 'Roboto Condensed', sans-serif;
}

body a{
  text-decoration: none;
  color: black;
}


.btn-primary {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: whitesmoke;
  outline: none;
  text-decoration: none;
  background-color: limegreen;
}

.btn-primary:hover{
  color:green;
  text-decoration: none;
}
 
@media (min-width: 768px) {
  .h-md-100 { height: 100vh; }
}
.btn-round { 
  border-radius: 30px; 
}
.bg-indigo {
   background-image: url(images/arash-asghari-ZnssDSmy9Ho-unsplash.jpg); 
   background-size: cover;
   padding: 0 !important;
   margin: 0 !important;
}
.text-cyan { color: #35bdff; }

.hero-background-img{
  background-image: url("images/pawel-czerwinski-dUPwMFSIKEE-unsplash\ \(1\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.btn {
  outline-color: #443730;
}

.jumbotron {
  padding: 0 !important;
  margin: 0 !important;
}